.fc {
    max-width: 1000px;
    margin: 0 auto;
    color: #4c4c4c;
    .fc-toolbar {
        justify-content: flex-start;
    }
    .fc-toolbar.fc-header-toolbar {
        padding: 20px;
        background: #dee2e0;
    }
    .fc-button {
        background: #edecea;
        border: 1px solid #9eaea4;
        box-sizing: border-box;
        border-radius: 5px;
        color: #9eaea4;
        font-weight: 450;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.44px;
        padding: 5px 11px;
    }
    .fc-button-primary:disabled,
    .fc-button:hover,
    .fc-button-primary:not(:disabled):active,
    .fc-button-primary:not(:disabled).fc-button-active {
        background: #edecea;
        border: 1px solid #9eaea4;
        box-sizing: border-box;
        border-radius: 5px;
        color: #9eaea4;
        filter: brightness(102%);
    }
    .fc-button:focus,
    .fc-button-primary:not(:disabled):active:focus,
    .fc-button-primary:not(:disabled).fc-button-active:focus {
        outline: none;
        box-shadow: none;
    }
    .fc-toolbar-title {
        margin-left: 20px;
        font-weight: 450;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.44px;
    }
    .fc-col-header-cell-cushion {
        padding: 10px 4px;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
    }
    .fc-bg-event {
        opacity: 1;
        background: #dee2e0;
    }
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 20px;
}

.fc-v-event {
    background: #dee2e0;
    border: none;
    border-radius: unset;
    .fc-event-main {
        color: #4c4c4c;
    }
}
