@import "../../../../sass/variables.scss";

.registration {
    background: #fff;
    padding: 50px;
    &__nav-link {
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        font-size: $font-size-xs;
        line-height: $line-height-sm;
        color: $dark-grey;
    }
    &__wrapper {
        width: 390px;
        margin: 0 auto;
    }
    &__title {
        margin: 40 0 0 0;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.44px;
        color: $primary-gray;
    }
    &__form-input {
        border: none;
        border-bottom: 1px solid $dark-blue;
        width: 389px;
        padding: 20px 0;
        font-size: 18px;
        line-height: 24px;
        background: transparent;
        color: $dark-grey;
        &::placeholder {
            color: $dark-grey;
        }
    }
    &__file {
        display: none;
    }
    &__file-label {
        width: 240px;
        height: 240px;
        background: #cccccc;
        border-radius: 5px;
        position: relative;
        & svg {
            width: 150px;
            height: 150px;
            & path {
                fill: $light-green;
            }
        }
    }
    &__file-span {
        width: 120px;
        border: 1px solid #dee2e0;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 8px;
        background: $btn-green;
        color: $dark-blue;
        font-weight: 450;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        top: 230px;
        left: 0;
    }
    &__captcha-label {
        padding: 10px;
        width: 280px;
        background: #f9f9f9;
        border: 1px solid $light-green;
        box-sizing: border-box;
        border-radius: 5px;
    }
    &__captcha {
        // -webkit-appearance: none;
        // -moz-appearance: none;
        width: 24px;
        height: 24px;
        border: 1px solid #047A8A;
        box-sizing: border-box;
    }
    &__captcha-span {
        font-weight: 450;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.44px;
        color: $dark-blue;
    }
    &__errors-message {
        color: red;
    }
    &__form-btn {
        display: block;
        width: 100%;
        background: $btn-green;
        border: 1px solid $light-green;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 13px;
        font-size: 24px;
        color: $dark-blue;
        &:hover {
            cursor: pointer;
        }
    }
    &__small-text {
        font-size: 18px;
        line-height: 24px;
        color: $primary-gray;
    }
    &__link {
        color: #7294c7;
        text-decoration: none;
        &-fogot_password {
            display: block;
            text-decoration: none;
            text-align: center;
        }
    }
}

.selected {
    border-bottom: 1px solid $dark-grey;
}
