.header {
    & a {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.44px;
    }
    &__rightbox {
        display: flex;
        align-items: center;
        & button {
            border: none;
            background: transparent;
            cursor: pointer;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.5px;
            color: #4C4C4C;
        }
    }
}
